name: Build and Push Containers

on:
  push:
    branches: [main]
  workflow_dispatch:
  schedule:
    - cron: '0 2 * * *' # daily at 2AM UTC

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        container: [wireguard, dropbox]

    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4

      - name: Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.actor }}/${{ matrix.container }}
          tags: |
            type=raw,value=latest
            type=sha
            type=raw,value={{date 'YYYY.MM.DD'}}

      - name: Build image
        uses: redhat-actions/buildah-build@v2
        with:
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          containerfiles: containers/${{ matrix.container }}/Containerfile
          context: containers/${{ matrix.container }}

      - name: Push image
        uses: redhat-actions/push-to-registry@v2
        with:
          tags: ${{ steps.meta.outputs.tags }}
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
